aws-cdk-lib==2.82.0
aws-lambda-powertools==2.15.0
cdk-nag==2.27.35
cdk-opinionated-constructs==2.1.4
constructs==10.2.43
docutils==0.20.1
email-validator==2.0.0.post2
flask==2.3.2
pydantic==1.10.8
pydoctor==23.4.1
pyyaml==6.0
setuptools==67.8.0 # not directly required, pinned by Snyk to avoid a vulnerability
werkzeug==2.3.6
