aws-cdk-lib==2.128.0
aws-lambda-powertools==2.32.0
cdk-nag==2.28.39
cdk-opinionated-constructs==3.6.7
constructs==10.3.0
docutils==0.20.1
email-validator==2.1.0.post1
flask==3.0.2
pydantic==2.6.1
pydantic-core==2.16.2
pydoctor==23.9.1
pyyaml==6.0.1
setuptools==69.1.0 # not directly required, pinned by Snyk to avoid a vulnerability
werkzeug==3.0.1
twisted>=23.10.0rc1 # not directly required, pinned by Snyk to avoid a vulnerability
